body{
    background-image: url("src/cupcakes-5116009__340.webp");
    background-repeat: no-repeat;
    background-size: cover;
}


h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    text-shadow: 5px 5px 10px white;
}

h2{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.menu{
    border: 1px;
    height: 900px;
    width: 500px;
    margin-left: 400px;
    margin-top: 5px;
    text-align: center;
    background-color: burlywood;
}

.h3-heading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
}

.hot{
    text-align: left;
    display: inline-block;
    width: 85%;
}

.price{
  text-align: right;
  display: inline-block;  
}

hr{
    height: 5px;
    background-color: brown;
}

a{
    color: black;
}

a:visited{
    color:  brown;
}

a:hover{
    color:orangered;
}
